<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>11016859741-m5m7c0c1mn1vbnrm8bf0tmidu8v4oc9l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11016859741-m5m7c0c1mn1vbnrm8bf0tmidu8v4oc9l</string>
	<key>API_KEY</key>
	<string>AIzaSyD8rJxS9FI3YfJqXsGKDe4Oc3FGGNlXqgk</string>
	<key>GCM_SENDER_ID</key>
	<string>11016859741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eventgo</string>
	<key>PROJECT_ID</key>
	<string>flutter-eventgo</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-eventgo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11016859741:ios:1ea97a31c115ac40125db4</string>
</dict>
</plist>